<launch>
    <!-- 参数：手动输入的文件名后缀 -->
  <arg name="suffix" default="default_suffix" />

<!-- 获取当前时间 -->
  <!-- <arg name="time" command="date +%Y%m%d_%H%M" /> -->
  <arg name="item" default="1" />

  <!-- 生成带时间戳和后缀的文件名 -->
  <arg name="filename" default="$(arg suffix)_$(arg item)" />

  <!-- 输出文件路径，可以根据需要进行修改 -->
  <arg name="output_dir" default="/home/yanji/dual_arm_control/rosbag_record/current" />

  <!-- Run task control for screw -->
  <node pkg="real_robot_control" type="task_control_screw" name="task_control_screw" output="screen" />

  <node pkg="rosbag" type="record" name="rosbag_record" output="screen" required="true"
        args="-O $(arg output_dir)/$(arg filename).bag /width_p /current_p" />
</launch>